.last-added-kyc {
  .ant-table-tbody td {
    .company-name {
      font-size: 17px;
      font-weight: 600;
      color: #A0A0A0;
    }

    .users-count {
      color: #676767;
      font-size: 17px;
      font-weight: 600;
    }

    .added-by {
      color: #888888;
      font-size: 14px;
    }

    .status {
      font-weight: 600;
      font-size: 17px;
    }
  }
}
