.profile-info {
  background-color: #fff;
  padding: 35px 50px;

  &__edit-link {
    display: inline-block;
    margin-left: .5rem;
    color: #0c8ae4;
    font-weight: 500;
    cursor: pointer;
    svg {
      margin-right: 5px;
    }
    &:hover {
      color: #179af8;
    }
  }
}