.trades {
  min-height: calc(100vh - 69px);
  padding: 99px 48px 50px;
  background-color: #f6f6f8;
  display: flex;
  flex-direction: column; }
  @media (max-width: 1300px) {
    .trades {
      padding: 99px 24px 50px; } }
  @media (max-width: 1250px) {
    .trades {
      padding: 99px 10px 50px; } }
  @media (max-width: 991px) {
    .trades {
      padding-top: 80px; } }
  @media (max-width: 770px) {
    .trades {
      padding: 80px 24px 50px; } }
  @media (max-width: 575px) {
    .trades {
      padding: 80px 0px 40px; } }
  .trades__heading {
    font-size: 1.5rem;
    font-weight: 400; }
    @media (max-width: 575px) {
      .trades__heading {
        padding-left: 2rem; } }
  .trades__table {
    width: 100%;
    background-color: #fcfcfc; }
    @media (max-width: 991px) {
      .trades__table {
        overflow: auto; } }
  .trades__row {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 3.2rem;
    width: 100%;
    padding-right: 1rem;
    min-width: min-content;
    border-right: 1px solid #dfe2e5;
    border-left: 1px solid #dfe2e5;
    border-bottom: 1px solid #dfe2e5;
    font-size: 0.875rem;
    cursor: pointer; }
    .trades__row--own {
      background-color: #00ff301c;
      border-color: #c3e6cb; }
    .trades__row:hover {
      background-color: #e9eaec; }
      .trades__row:hover .trades__overflow {
        position: absolute;
        z-index: 15;
        display: block;
        word-wrap: break-word;
        padding: 10px;
        width: calc(100% - 10px);
        max-height: none;
        background-color: #e9eaec;
        white-space: normal;
        overflow: visible;
        text-overflow: unset;
        transform: translateX(-10px); }
    .trades__row div:nth-of-type(1) {
      width: 6rem; }
      .trades__row div:nth-of-type(1):not(.trades__cell_heading) {
        color: #7f8fa4;
        font-weight: 400; }
    .trades__row div:nth-of-type(2) {
      width: 9rem; }
      @media (max-width: 1460px) {
        .trades__row div:nth-of-type(2) {
          width: 6rem; } }
      .trades__row div:nth-of-type(2):not(.trades__cell_heading) {
        color: #354052; }
    .trades__row div:nth-of-type(3) {
      width: 9rem; }
      @media (max-width: 1460px) {
        .trades__row div:nth-of-type(3) {
          width: 6rem; } }
      .trades__row div:nth-of-type(3):not(.trades__cell_heading) {
        color: #354052; }
    .trades__row div:nth-of-type(4) {
      width: 10rem; }
      @media (max-width: 1020px) {
        .trades__row div:nth-of-type(4) {
          width: 8rem; } }
      .trades__row div:nth-of-type(4):not(.trades__cell_heading) {
        text-transform: uppercase; }
    .trades__row div:nth-of-type(5) {
      width: 8rem; }
      @media (max-width: 1340px) {
        .trades__row div:nth-of-type(5) {
          width: 6rem; } }
      .trades__row div:nth-of-type(5):not(.trades__cell_heading) {
        color: #7f8fa4;
        font-weight: 600; }
    .trades__row div:nth-of-type(6) {
      width: 6rem; }
      @media (max-width: 1230px) {
        .trades__row div:nth-of-type(6) {
          width: 4rem; } }
      .trades__row div:nth-of-type(6):not(.trades__cell_heading) {
        color: #354052; }
    .trades__row div:nth-of-type(7) {
      width: 12rem; }
      @media (max-width: 1510px) {
        .trades__row div:nth-of-type(7) {
          width: 9rem; } }
      .trades__row div:nth-of-type(7):not(.trades__cell_heading) {
        font-weight: 400;
        color: #7f8fa4; }
    .trades__row div:nth-of-type(8) {
      width: 10rem; }
      @media (max-width: 1375px) {
        .trades__row div:nth-of-type(8) {
          width: 7.8rem; } }
      .trades__row div:nth-of-type(8):not(.trades__cell_heading) {
        font-size: 0.75rem;
        font-weight: 400;
        color: #7f8fa4; }
    .trades__row div:nth-of-type(9) {
      width: 12rem; }
      @media (max-width: 1610px) {
        .trades__row div:nth-of-type(9) {
          width: 9rem; } }
      @media (min-width: 992px) and (max-width: 1060px) {
        .trades__row div:nth-of-type(9) {
          width: 7rem; } }
      .trades__row div:nth-of-type(9):not(.trades__cell_heading) {
        font-weight: 400; }
    .trades__row div:nth-of-type(10) {
      width: 12rem; }
      @media (max-width: 1610px) {
        .trades__row div:nth-of-type(10) {
          width: 9rem; } }
      @media (min-width: 992px) and (max-width: 1060px) {
        .trades__row div:nth-of-type(10) {
          width: 7rem; } }
      .trades__row div:nth-of-type(10):not(.trades__cell_heading) {
        font-weight: 400; }
    .trades__row_heading {
      border-top: 1px solid #dfe2e5;
      font-size: 0.875rem;
      line-height: 1rem;
      color: #7f8fa4;
      cursor: auto; }
      .trades__row_heading:hover {
        background-color: #fcfcfc; }
  .trades__cell {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 0.8rem;
    padding-right: 0.25rem;
    font-weight: 500;
    line-height: 0.925rem;
    flex-shrink: 0;
    flex-grow: 0; }
    @media (max-width: 350px) {
      .trades__cell {
        padding-left: 0.525rem; } }
    .trades__cell_heading {
      position: relative; }
    .trades__cell_status {
      font-size: 10px; }
    .trades__cell_status--DEAL {
      color: #36af47; }
    .trades__cell_status--SIGNED {
      color: #f7981c; }
    .trades__cell_status--INSTRUCTIONS {
      color: #1991eb; }
    .trades__cell_status--ADVICE {
      color: #0065ab; }
    .trades__cell_status--DOCUMENTS {
      color: #516173; }
    .trades__cell_status--PAYMENT {
      color: #516173; }
    .trades__cell_status--PAYED {
      color: #7f8fa4; }
    .trades__cell_status--CLOSED {
      color: #b5bac1; }
  .trades__hwrapper {
    display: block; }
  .trades__arrows {
    position: relative;
    width: 22px !important;
    height: 20px;
    cursor: pointer; }
    .trades__arrows__top {
      position: absolute;
      display: inline-block;
      width: 2px !important;
      top: calc(50% - 10px);
      left: 0px;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      -webkit-transition: border-top 0.2s;
      -moz-transition: border-top 0.2s;
      -ms-transition: border-top 0.2s;
      -o-transition: border-top 0.2s;
      transition: border-top 0.2s;
      border-top: 8px solid #8492b4;
      transform: translate(8px, -10px) rotate(-180deg); }
      .trades__arrows__top:hover {
        border-top: 8px solid #289ef5; }
      .trades__arrows__top--selected {
        border-top: 8px solid #289ef5; }
    .trades__arrows__bot {
      position: absolute;
      display: inline-block;
      width: 2px !important;
      top: calc(50% - 10px);
      left: 0px;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      -webkit-transition: border-top 0.2s;
      -moz-transition: border-top 0.2s;
      -ms-transition: border-top 0.2s;
      -o-transition: border-top 0.2s;
      transition: border-top 0.2s;
      border-top: 8px solid #8492b4;
      transform: translate(8px, 12px) rotate(0deg); }
      .trades__arrows__bot:hover {
        border-top: 8px solid #289ef5; }
      .trades__arrows__bot--selected {
        border-top: 8px solid #289ef5; }
  .trades__overflow {
    width: 100%;
    max-height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

.trades-dtls {
  padding: 79px 48px 44px;
  min-height: calc(100vh - 69px); }
  @media (max-width: 991px) {
    .trades-dtls {
      padding-top: 60px; } }
  @media (max-width: 590px) {
    .trades-dtls {
      padding-left: 0;
      padding-right: 0; } }
  .trades-dtls__back {
    transition: color 0.25s;
    display: inline-block;
    position: relative;
    padding-left: 35px;
    color: #0c8ae4;
    font-weight: 500;
    font-size: 18px;
    margin-left: -20px;
    margin-bottom: 5px;
    cursor: pointer; }
    .trades-dtls__back:hover {
      color: #179af8; }
      .trades-dtls__back:hover::before {
        color: #179af8; }
    .trades-dtls__back:before {
      content: '';
      transition: color 0.25s;
      position: absolute;
      left: 22px;
      top: 7px;
      width: 12px;
      height: 12px;
      border-top: 3px solid #0c8ae4;
      border-left: 3px solid #0c8ae4;
      transform: rotate(-45deg); }
  .trades-dtls__submit {
    display: flex; }
    .trades-dtls__submit .cancel {
      color: #0c8be6;
      font-size: 14px;
      text-decoration: underline;
      text-decoration-color: rgba(12, 139, 230, 0.25);
      margin-right: 2rem;
      font-weight: 500; }
    .trades-dtls__submit .cancel--invoice {
      margin-top: 1rem;
      margin-left: 2rem;
      margin-bottom: 1rem; }
    .trades-dtls__submit--bill {
      justify-content: flex-end;
      align-items: center; }
    .trades-dtls__submit--invoice {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 1rem; }
  .trades-dtls .react-datepicker__input-container input::-webkit-input-placeholder {
    color: #7f8fa4; }
  .trades-dtls__header {
    padding: 20px 30px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.07);
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.07); }
  @media (max-width: 575px) {
    .trades-dtls__padding-fix {
      padding-left: 0 !important;
      padding-right: 0 !important; } }
  .trades-dtls__id {
    margin-left: 15px;
    padding-top: 4px;
    color: #354052;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase; }
  .trades-dtls__date {
    padding-top: 4px;
    margin-left: 15px;
    color: #7f8fa4;
    font-size: 14px; }
    @media (max-width: 470px) {
      .trades-dtls__date {
        order: 12;
        width: 100%; } }
  .trades-dtls__price {
    font-size: 30px;
    color: #7f8fa4; }
    .trades-dtls__price:before {
      content: 'Price';
      display: inline-block;
      margin-right: 6px;
      color: #7f8fa4;
      font-size: 16px;
      transform: translateY(-6px); }
  .trades-dtls__buyer {
    color: #354052;
    font-size: 16px; }
    .trades-dtls__buyer:before {
      content: 'Buyer';
      color: #7f8fa4;
      margin-right: 14px; }
  .trades-dtls__seller {
    color: #354052;
    font-size: 16px; }
    @media (max-width: 640px) {
      .trades-dtls__seller {
        margin-bottom: 1rem; } }
    .trades-dtls__seller:before {
      content: 'Seller';
      color: #7f8fa4;
      margin-right: 14px; }
  .trades-dtls__buttons-wrapper {
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center; }
    @media (max-width: 575px) {
      .trades-dtls__buttons-wrapper {
        justify-content: flex-start; } }
  .trades-dtls__button {
    min-width: 154px;
    height: 36px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.15);
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    border: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: linear-gradient(to bottom, #0c8be6, #0c7ac9);
    margin-right: 12px;
    cursor: pointer;
    transition: opacity 0.2s, box-shadow 0.2s; }
    .trades-dtls__button:hover {
      opacity: 0.85; }
    .trades-dtls__button:focus {
      outline: none; }
    .trades-dtls__button:active {
      -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.15);
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.15); }
    .trades-dtls__button_info {
      background: #1991eb;
      -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.15);
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.15);
      cursor: auto; }
      .trades-dtls__button_info:hover {
        opacity: 1; }
      .trades-dtls__button_info span {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        cursor: pointer; }
        .trades-dtls__button_info span a {
          color: #ffffff; }
    .trades-dtls__button_success {
      position: relative;
      padding-left: 43px;
      background: #36af47;
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.15);
      color: rgba(255, 255, 255, 0.75); }
      .trades-dtls__button_success:hover {
        opacity: 1; }
      .trades-dtls__button_success:before {
        content: '';
        position: absolute;
        left: 14px;
        top: calc(50% - 11px);
        border-radius: 50%;
        width: 20px;
        height: 20px;
        border: 2px solid rgba(255, 255, 255, 0.75); }
      .trades-dtls__button_success:after {
        content: '';
        position: absolute;
        z-index: 8;
        top: calc(50% - 4px);
        left: 20px;
        width: 9px;
        height: 5px;
        border-left: 2px solid #fff;
        border-bottom: 2px solid #fff;
        transform: rotate(-40deg); }
      .trades-dtls__button_success .trades-dtls__info-sign {
        display: none; }
  .trades-dtls__info-sign {
    margin-top: -4px;
    margin-right: 8px;
    font-size: 20px;
    opacity: 0.7; }
  .trades-dtls__status-wrapper {
    position: relative;
    display: flex;
    margin-right: 70px;
    width: 100%;
    padding-left: 70px;
    justify-content: space-between; }
    @media (max-width: 860px) {
      .trades-dtls__status-wrapper {
        flex-wrap: wrap;
        justify-content: space-around;
        padding-left: 0;
        margin-right: 0;
        padding-top: 40px; }
        .trades-dtls__status-wrapper:before {
          top: 0; }
        .trades-dtls__status-wrapper:after {
          display: none; } }
    .trades-dtls__status-wrapper:before {
      content: 'Status:';
      position: absolute;
      left: 15px;
      color: #7f8fa4;
      font-size: 14px; }
    .trades-dtls__status-wrapper:after {
      content: '';
      position: absolute;
      z-index: 2;
      top: 8px;
      left: 120px;
      width: calc(100% - 160px);
      height: 2px;
      background-color: #7f8fa4; }
  .trades-dtls__status-stage {
    position: relative;
    width: 89px;
    padding-top: 30px;
    font-size: 11px;
    font-weight: 500;
    color: #7f8fa4;
    text-align: center;
    text-transform: uppercase; }
    @media (max-width: 860px) {
      .trades-dtls__status-stage {
        margin-bottom: 15px;
        max-width: 140px;
        min-width: 33%; } }
    @media (max-width: 480px) {
      .trades-dtls__status-stage {
        max-width: none;
        min-width: none;
        width: 50%; } }
    .trades-dtls__status-stage:before {
      content: '';
      position: absolute;
      z-index: 7;
      top: 0;
      left: calc(50% - 9px);
      width: 18px;
      height: 18px;
      background-color: #fff;
      border: 2px solid #7f8fa4;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%; }
    .trades-dtls__status-stage_current:before {
      border: 2px solid #36af47; }
    .trades-dtls__status-stage_completed {
      color: #36af47; }
      .trades-dtls__status-stage_completed:before {
        background-color: #36af47;
        border: 2px solid #36af47; }
      .trades-dtls__status-stage_completed:after {
        content: '';
        position: absolute;
        z-index: 8;
        top: 5px;
        left: calc(50% - 4px);
        width: 9px;
        height: 5px;
        border-left: 2px solid #fff;
        border-bottom: 2px solid #fff;
        transform: rotate(-40deg); }
  .trades-dtls__status-line {
    position: absolute;
    top: 8px;
    left: 107px;
    z-index: 5;
    background-color: #36af47;
    height: 2px;
    width: 0; }
    @media (max-width: 860px) {
      .trades-dtls__status-line {
        display: none; } }
    .trades-dtls__status-line_2 {
      width: calc((100% - 160px) / 7); }
    .trades-dtls__status-line_3 {
      width: calc((100% - 160px) / 7 * 2); }
    .trades-dtls__status-line_4 {
      width: calc((100% - 160px) / 7 * 3); }
    .trades-dtls__status-line_5 {
      width: calc((100% - 160px) / 7 * 4); }
    .trades-dtls__status-line_6 {
      width: calc((100% - 160px) / 7 * 5); }
    .trades-dtls__status-line_7 {
      width: calc((100% - 160px) / 7 * 6); }
    .trades-dtls__status-line_8 {
      width: calc(100% - 160px); }
  .trades-dtls__info {
    margin-top: 11px; }
  .trades-dtls__tabs {
    display: flex; }
  .trades-dtls__tab {
    position: relative;
    padding: 6px 12px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #354052;
    font-weight: 500;
    border-top: 2px solid transparent;
    background-color: #e7e8eb;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    .trades-dtls__tab:before {
      content: '';
      position: absolute;
      left: 0;
      top: 4px;
      height: calc(100% - 8px);
      width: 1px;
      background-color: #c3c6cc; }
    .trades-dtls__tab.active, .trades-dtls__tab:hover {
      border-top: 2px solid #0064a9;
      background-color: #fff; }
      .trades-dtls__tab.active:before, .trades-dtls__tab:hover:before {
        display: none; }
  .trades-dtls__general {
    background-color: #fff;
    padding: 35px 50px; }
    @media (max-width: 575px) {
      .trades-dtls__general {
        padding: 35px 35px; } }
  .trades-dtls__prop {
    display: flex;
    min-height: 40px;
    height: 100%;
    width: 100%; }
    @media (max-width: 680px) {
      .trades-dtls__prop {
        height: 48px; } }
    @media (max-width: 360px) {
      .trades-dtls__prop {
        height: 52px; } }
  .trades-dtls__key {
    width: 25%;
    color: #7f8fa4;
    font-size: 16px; }
    @media (max-width: 1199px) {
      .trades-dtls__key {
        width: 40%; } }
    @media (max-width: 991px) {
      .trades-dtls__key {
        width: 50%; } }
    @media (max-width: 575px) {
      .trades-dtls__key {
        line-height: 16px; } }
  .trades-dtls__value {
    width: 25%;
    color: #354052;
    font-size: 16px; }
    @media (max-width: 1199px) {
      .trades-dtls__value {
        width: 40%; } }
    @media (max-width: 991px) {
      .trades-dtls__value {
        width: 50%; } }
    @media (max-width: 680px) {
      .trades-dtls__value {
        line-height: 16px; } }
  .trades-dtls__contract {
    padding: 10px 13px;
    background-color: #fff; }
  .trades-dtls__contract-export-img {
    margin-right: 5px;
    color: #c9270c;
    font-size: 20px;
    cursor: pointer; }
  .trades-dtls__contract-export {
    margin-right: 20px;
    color: #354052;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer; }
  .trades-dtls__contract-area {
    position: relative;
    margin-top: 10px;
    padding: 45px 13px;
    border: 1px solid #dfe2e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
  .trades-dtls__contract-heading {
    color: #354052;
    font-size: 18px;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase; }
  .trades-dtls__contract-date {
    position: absolute;
    top: 10px;
    right: 13px;
    color: #7f8fa4;
    font-size: 14px;
    font-weight: 500; }
  .trades-dtls__contract-item {
    color: #354052;
    font-size: 1rem;
    font-weight: light; }
  .trades-dtls__contract-text {
    margin-bottom: 20px;
    color: #7f8fa4;
    font-size: 1rem;
    font-weight: light; }
  .trades-dtls__contract-list {
    padding-left: 1.5rem;
    list-style-type: disc; }
  .trades-dtls__contract-signatures {
    color: #354052;
    font-weight: 300; }
    .trades-dtls__contract-signatures span {
      display: inline-block;
      margin-bottom: 1rem;
      text-transform: uppercase; }
  .trades-dtls__doc-controls {
    display: flex;
    padding: 0 1rem; }
  .trades-dtls__verify-docs {
    transition: background 0.25s, box-shadow 0.25s;
    border-radius: 2px;
    text-transform: capitalize;
    box-shadow: 1.805px 2.396px 3px rgba(0, 0, 0, 0.15);
    border: 1px solid #0086e4;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    height: 36px;
    background-color: #0065ab;
    margin-left: auto;
    padding: 4px 15px;
    cursor: pointer; }
    .trades-dtls__verify-docs:hover {
      background: #187abe; }
    .trades-dtls__verify-docs:focus {
      box-shadow: 1.805px 2.396px 3px rgba(0, 0, 0, 0.15); }
    .trades-dtls__verify-docs:active {
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.15); }
  .trades-dtls__filter {
    display: flex;
    align-items: center;
    margin-right: 4rem; }
    .trades-dtls__filter__label {
      font-weight: 500;
      color: #7F8FA4;
      margin-right: 15px; }
    .trades-dtls__filter__select {
      width: 18vw; }
  .trades-dtls__doc {
    padding: 15px 13px;
    background-color: #ffffff; }
  .trades-dtls__doc-navigation {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #7f8fa4; }
    .trades-dtls__doc-navigation span {
      color: #354052; }
  .trades-dtls__doc-heading {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #7f8fa4;
    text-transform: uppercase; }
  .trades-dtls__doc-wrapper {
    padding: 6px;
    border: 1px solid #dfe2e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
  .trades-dtls__doc-item {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 11px 6px 5px 18px;
    border: 1px dashed #d1d1d1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }
    .trades-dtls__doc-item:not(:last-of-type):after {
      content: '';
      position: absolute;
      bottom: -9px;
      left: -7px;
      width: calc(100% + 14px);
      height: 1px;
      background-color: #dfe2e5; }
    .trades-dtls__doc-item:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 8px;
      height: 100%;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px; }
    .trades-dtls__doc-item:last-of-type {
      margin-bottom: 0px; }
    .trades-dtls__doc-item_complete:before, .trades-dtls__doc-item_approved:before {
      background-color: #36af47; }
    .trades-dtls__doc-item_required:before, .trades-dtls__doc-item_new:before, .trades-dtls__doc-item_rejected:before {
      background-color: #ed1c24; }
    .trades-dtls__doc-item_approval:before {
      background-color: #F7981C; }
    .trades-dtls__doc-item .warning-message {
      top: 10px;
      right: 15px;
      margin-bottom: 0;
      font-size: 12px;
      color: #ed1c24; }
    .trades-dtls__doc-item .comments-spinner--small {
      width: 12px;
      height: 12px;
      color: #0065ab;
      margin-right: 8px; }
    .trades-dtls__doc-item .doc-comment__container {
      width: 110px;
      margin-right: 1.5rem; }
    .trades-dtls__doc-item .doc-comment__button {
      font-weight: 500;
      font-size: 12px;
      color: #0065ab;
      cursor: pointer; }
      .trades-dtls__doc-item .doc-comment__button span {
        border-bottom: 1px solid #d4dfec; }
      .trades-dtls__doc-item .doc-comment__button svg {
        width: 15px;
        height: 15px;
        margin: 0 8px 5px 0; }
      .trades-dtls__doc-item .doc-comment__button:hover {
        border-bottom: 1px solid transparent; }
  .trades-dtls__doc-name {
    color: #354052;
    font-size: 14px;
    font-weight: 500;
    margin-right: 10px; }
  .trades-dtls__doc-info {
    font-size: 12px;
    color: #7F8FA4;
    font-weight: 600;
    margin-right: 14px;
    white-space: nowrap;
    display: inline-block; }
  .trades-dtls__doc-uploaded {
    position: relative;
    color: #7f8fa4;
    font-size: 12px;
    font-weight: 500;
    margin-right: 4px; }
    .trades-dtls__doc-uploaded:before {
      content: '';
      position: absolute;
      bottom: 3px;
      left: -5px;
      width: 1px;
      height: 10px;
      background-color: #7f8fa4; }
  .trades-dtls__doc-preview {
    font-weight: 500;
    font-size: 12px;
    color: #0065ab;
    border-bottom: 1px solid #d4dfec;
    margin-left: 5px;
    cursor: pointer; }
    .trades-dtls__doc-preview:hover {
      border-bottom: 1px solid transparent; }
  .trades-dtls__doc-status {
    margin-right: 5px;
    font-size: 12px;
    font-weight: 500;
    padding: 1px 4px;
    white-space: nowrap; }
    .trades-dtls__doc-status_complete, .trades-dtls__doc-status_approved {
      border: 1px solid #36af47;
      color: #36af47; }
    .trades-dtls__doc-status_required, .trades-dtls__doc-status_new, .trades-dtls__doc-status_rejected {
      border: 1px solid #ed1c24;
      color: #ed1c24; }
    .trades-dtls__doc-status_approval {
      border: 1px solid #F7981C;
      color: #F7981C; }
  .trades-dtls__doc-abstract {
    margin-bottom: 0;
    min-height: 40px;
    color: #7f8fa4;
    font-size: 13px; }
  .trades-dtls__doc-button {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 154px;
    height: 36px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.15);
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    border: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: linear-gradient(to bottom, #0c8be6, #0c7ac9);
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    .trades-dtls__doc-button:hover {
      opacity: 0.85;
      color: #fff; }
    .trades-dtls__doc-button:focus {
      color: #fff;
      outline: none; }
    .trades-dtls__doc-button:active {
      -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.15);
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.15);
      color: #fff; }
    .trades-dtls__doc-button[disabled] {
      background: #0065ab85;
      cursor: not-allowed; }
  .trades-dtls__doc-textarea {
    box-shadow: none;
    border: 1px solid #dfe2e5;
    width: 100%;
    min-height: 250px;
    padding: 13px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    -ms-transition: all 0.15s;
    -o-transition: all 0.15s;
    transition: all 0.15s;
    color: #7f8fa4;
    font-weight: 600; }
    .trades-dtls__doc-textarea:hover {
      border: 1px solid #6e82a6; }
    .trades-dtls__doc-textarea:focus {
      border: 1px solid #6e82a6;
      outline: none; }
    .trades-dtls__doc-textarea_short {
      min-height: 63px;
      height: 63px; }
    .trades-dtls__doc-textarea_112 {
      min-height: 112px;
      height: 112px; }
    .trades-dtls__doc-textarea[disabled] {
      background-color: #f9f9f9;
      font-size: 14px;
      font-weight: 600;
      color: #7f8fa4; }
      .trades-dtls__doc-textarea[disabled]:hover {
        border: 1px solid #ced0da; }
  .trades-dtls__doc-submit {
    display: block;
    width: 170px;
    height: 36px;
    border-radius: 2px;
    -webkit-box-shadow: 1.805px 2.396px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 1.805px 2.396px 3px rgba(0, 0, 0, 0.15);
    border: 1px solid #0086e4;
    background-color: #0065ab;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    transition: background 0.25s, box-shadow 0.25s;
    cursor: pointer; }
    .trades-dtls__doc-submit:hover {
      background: #187abe; }
    .trades-dtls__doc-submit:focus {
      outline: none; }
    .trades-dtls__doc-submit:active {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.15); }
  .trades-dtls__invoice-wrapper {
    padding: 17px 20px 0; }
    .trades-dtls__invoice-wrapper .input_error {
      border: 1px solid #d53354;
      animation: input-error .7s; }
    @media (max-width: 575px) {
      .trades-dtls__invoice-wrapper {
        border: 0;
        padding: 17px 0 0; } }
  .trades-dtls__input-wrapper {
    margin-right: 18px;
    margin-bottom: 25px; }
    @media (max-width: 400px) {
      .trades-dtls__input-wrapper {
        width: 100%;
        margin-right: 0; } }
  .trades-dtls__doc-input {
    transition: 0.15s;
    box-shadow: none;
    height: 36px;
    width: 208px;
    padding-left: 10px;
    border: 1px solid #ced0da;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #7f8fa4 !important;
    font-size: 14px;
    font-weight: 600; }
    .trades-dtls__doc-input:focus {
      border: 1px solid #6e82a6;
      outline: none; }
    .trades-dtls__doc-input:hover {
      border: 1px solid #6e82a6; }
    .trades-dtls__doc-input_fluid {
      width: 100%; }
    .trades-dtls__doc-input_long {
      width: 332px; }
      @media (max-width: 400px) {
        .trades-dtls__doc-input_long {
          width: 100%; } }
    .trades-dtls__doc-input_short {
      width: 46px; }
    .trades-dtls__doc-input--long {
      width: 280px; }
    .trades-dtls__doc-input[type='number'], .trades-dtls__doc-input[type='number'] {
      -webkit-appearance: none;
      -moz-appearance: textfield;
      appearance: none; }
      .trades-dtls__doc-input[type='number']::-webkit-inner-spin-button, .trades-dtls__doc-input[type='number']::-webkit-outer-spin-button, .trades-dtls__doc-input[type='number']::-webkit-inner-spin-button, .trades-dtls__doc-input[type='number']::-webkit-outer-spin-button {
        display: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0; }
    .trades-dtls__doc-input[disabled] {
      background-color: #f9f9f9;
      color: #7f8fa4; }
      .trades-dtls__doc-input[disabled][type='number'] {
        -moz-appearance: textfield; }
      .trades-dtls__doc-input[disabled][type='number'], .trades-dtls__doc-input[disabled][type='number'] {
        -webkit-appearance: none;
        -moz-appearance: textfield;
        appearance: none; }
        .trades-dtls__doc-input[disabled][type='number']::-webkit-inner-spin-button, .trades-dtls__doc-input[disabled][type='number']::-webkit-outer-spin-button, .trades-dtls__doc-input[disabled][type='number']::-webkit-inner-spin-button, .trades-dtls__doc-input[disabled][type='number']::-webkit-outer-spin-button {
          display: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          margin: 0; }
    .trades-dtls__doc-input--black {
      color: #354052 !important;
      font-weight: 500; }
    .trades-dtls__doc-input:focus, .trades-dtls__doc-input:active, .trades-dtls__doc-input:hover {
      outline: 0px !important; }
  .trades-dtls__doc-label {
    display: block;
    margin-bottom: 0.3rem;
    font-size: 14px;
    color: #7f8fa4; }
    .trades-dtls__doc-label_inline {
      display: inline-block;
      margin-right: 1rem; }
  .trades-dtls__invoice-th {
    display: flex;
    height: 52px;
    width: 100%;
    background-color: #e7e8eb;
    border-left: 1px solid #dfe2e5;
    border-top: 1px solid #dfe2e5;
    border-right: 1px solid #dfe2e5;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: #7f8fa4;
    font-weight: 500; }
  .trades-dtls__invoice-tr {
    display: flex;
    width: 100%;
    background-color: #f9f9f9;
    border-left: 1px solid #dfe2e5;
    border-bottom: 1px solid #dfe2e5;
    border-right: 1px solid #dfe2e5;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }
    .trades-dtls__invoice-tr div:nth-of-type(1) {
      color: #7f8fa4; }
    .trades-dtls__invoice-tr div:nth-of-type(2) {
      color: #354052;
      font-weight: 500; }
    .trades-dtls__invoice-tr div:nth-of-type(3) {
      color: #354052;
      font-weight: 500; }
  .trades-dtls__invoice-td {
    display: flex;
    padding: 20px 25px;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #dfe2e5;
    font-size: 14px; }
    @media (max-width: 575px) {
      .trades-dtls__invoice-td {
        padding: 10px; } }
    .trades-dtls__invoice-td:nth-of-type(1) {
      width: 60%; }
      @media (max-width: 575px) {
        .trades-dtls__invoice-td:nth-of-type(1) {
          width: 65%; } }
      @media (max-width: 400px) {
        .trades-dtls__invoice-td:nth-of-type(1) {
          width: 62%; } }
    .trades-dtls__invoice-td:nth-of-type(2) {
      width: 25%; }
      @media (max-width: 575px) {
        .trades-dtls__invoice-td:nth-of-type(2) {
          width: 20%; } }
    .trades-dtls__invoice-td:nth-of-type(3) {
      width: 15%;
      border-right: none; }
      @media (max-width: 400px) {
        .trades-dtls__invoice-td:nth-of-type(3) {
          width: 18%; } }
  .trades-dtls__summ-wrapper {
    margin-top: 20px; }
    @media (max-width: 850px) {
      .trades-dtls__summ-wrapper {
        width: 100%; }
        .trades-dtls__summ-wrapper label {
          display: block; } }
  .trades-dtls__invoice-required {
    margin-top: 25px;
    color: #96a7bd;
    font-size: 12px;
    text-align: center; }
  .trades-dtls__shipping-label {
    margin-right: 4px;
    height: 36px;
    line-height: 36px;
    color: #7f8fa4;
    font-size: 14px; }
  .trades-dtls__shipping-input {
    margin-right: 8px;
    margin-bottom: 20px;
    height: 36px;
    padding-left: 4px;
    border: 1px solid #ced0da;
    background-color: #f9f9f9;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-weight: 500;
    color: #7f8fa4;
    font-size: 14px; }
    .trades-dtls__shipping-input:nth-of-type(1) {
      width: 110px; }
    .trades-dtls__shipping-input:nth-of-type(2) {
      width: 94px; }
    .trades-dtls__shipping-input:nth-of-type(3) {
      width: 97px; }
  .trades-dtls__shipping-divider {
    display: none; }
    @media (max-width: 745px) {
      .trades-dtls__shipping-divider_1 {
        display: block; } }
    @media (max-width: 440px) {
      .trades-dtls__shipping-divider_2 {
        display: block; } }
  .trades-dtls__audit-table {
    position: relative;
    width: 100%;
    background-color: #fcfcfc; }
    @media (max-width: 991px) {
      .trades-dtls__audit-table {
        overflow: auto; } }
  .trades-dtls__audit-row {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 3.2rem;
    width: 100%;
    min-width: min-content;
    border-right: 1px solid #dfe2e5;
    border-left: 1px solid #dfe2e5;
    border-bottom: 1px solid #dfe2e5;
    font-size: 0.875rem; }
    .trades-dtls__audit-row .audit__overflow {
      display: block;
      width: 100%;
      max-height: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .trades-dtls__audit-row:hover {
      background-color: #e9eaec; }
      .trades-dtls__audit-row:hover .audit__overflow {
        position: absolute;
        z-index: 15;
        display: block;
        word-wrap: break-word;
        padding: 10px;
        width: calc(100% - 10px);
        max-height: none;
        background-color: #e9eaec;
        white-space: normal;
        overflow: visible;
        text-overflow: unset;
        transform: translateX(-10px); }
    .trades-dtls__audit-row div:nth-of-type(1) {
      width: 38rem; }
      @media (max-width: 1350px) {
        .trades-dtls__audit-row div:nth-of-type(1) {
          width: 33rem; } }
      @media (max-width: 1020px) {
        .trades-dtls__audit-row div:nth-of-type(1) {
          width: 29rem; } }
      @media (max-width: 790px) {
        .trades-dtls__audit-row div:nth-of-type(1) {
          width: 20rem; } }
      @media (max-width: 400px) {
        .trades-dtls__audit-row div:nth-of-type(1) {
          width: 14rem; } }
      .trades-dtls__audit-row div:nth-of-type(1):not(.trades-dtls__audit-cell_heading) {
        font-weight: 400; }
    .trades-dtls__audit-row div:nth-of-type(2) {
      width: 9rem; }
      .trades-dtls__audit-row div:nth-of-type(2):not(.trades-dtls__audit-cell_heading) {
        font-weight: 400; }
    .trades-dtls__audit-row div:nth-of-type(3) {
      width: 25rem; }
      @media (max-width: 1480px) {
        .trades-dtls__audit-row div:nth-of-type(3) {
          width: 20rem; } }
      @media (max-width: 1280px) {
        .trades-dtls__audit-row div:nth-of-type(3) {
          width: 14rem; } }
      .trades-dtls__audit-row div:nth-of-type(3):not(.trades-dtls__audit-cell_heading) {
        color: #7f8fa4;
        font-weight: 400; }
    .trades-dtls__audit-row div:nth-of-type(4) {
      width: 13rem; }
      @media (max-width: 1400px) {
        .trades-dtls__audit-row div:nth-of-type(4) {
          width: 10rem; } }
      @media (max-width: 1040px) {
        .trades-dtls__audit-row div:nth-of-type(4) {
          width: 7.5rem; } }
      .trades-dtls__audit-row div:nth-of-type(4):not(.trades-dtls__audit-cell_heading) {
        color: #354052; }
    .trades-dtls__audit-row_heading {
      border-top: 1px solid #dfe2e5;
      font-size: 0.875rem;
      line-height: 1rem;
      color: #7f8fa4;
      cursor: auto; }
      .trades-dtls__audit-row_heading:hover {
        background-color: #fcfcfc; }
  .trades-dtls__audit-cell {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 0.8rem;
    padding-right: 0.25rem;
    font-weight: 500;
    line-height: 0.925rem;
    flex-shrink: 0;
    flex-grow: 0; }
    @media (max-width: 350px) {
      .trades-dtls__audit-cell {
        padding-left: 0.525rem; } }
    .trades-dtls__audit-cell_heading {
      position: relative; }
    .trades-dtls__audit-cell .elepsis {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden; }
    .trades-dtls__audit-cell__link {
      transition: color 0.15s; }
      .trades-dtls__audit-cell__link:hover {
        color: #0499cb; }
      .trades-dtls__audit-cell__link--underline {
        text-decoration: underline; }
  .trades-dtls__bol {
    padding-top: 17px; }
    .trades-dtls__bol .input_error {
      border: 1px solid #d53354;
      animation: input-error .7s; }
    .trades-dtls__bol label {
      font-size: 14px;
      color: #7f8fa4; }
      @media (min-width: 945px) {
        .trades-dtls__bol label.fix {
          min-height: 2.4rem; } }
      @media (max-width: 840px) {
        .trades-dtls__bol label.fix2 {
          height: 2.5rem; } }
      .trades-dtls__bol label span {
        display: block;
        font-size: 12px; }
  .trades-dtls__bol-required {
    font-size: 12px;
    color: #96a7bd; }
  .trades-dtls__comments-wrapper {
    background-color: #EDEDED;
    padding: 12px 27px; }
    .trades-dtls__comments-wrapper label {
      color: #7F8FA4;
      margin: 0; }
  .trades-dtls__comments-heading {
    font-size: 16px;
    color: #7F8FA4;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .trades-dtls__comments-heading svg {
      vertical-align: middle;
      width: 30px;
      height: 30px;
      cursor: pointer; }
    .trades-dtls__comments-heading__counter svg {
      width: 15px;
      height: 15px;
      margin-left: 7px;
      margin-bottom: 5px; }
  .trades-dtls__private-icon {
    margin-left: 5px; }
    .trades-dtls__private-icon svg {
      vertical-align: middle;
      fill: #7F8FA4;
      width: 20px;
      height: 20px;
      margin-bottom: 3px; }
  .trades-dtls__comments-info {
    padding: 11px 0;
    border-top: 1px solid rgba(63, 60, 62, 0.05);
    border-bottom: 1px solid rgba(63, 60, 62, 0.05);
    color: #7F8FA4; }
  .trades-dtls__send-comment-container {
    justify-content: flex-end;
    margin-top: 18px;
    display: flex; }
    .trades-dtls__send-comment-container button {
      padding: 9px 25px;
      border-radius: 5px;
      line-height: 1; }
  .trades-dtls__comment-writing {
    margin-top: 12px; }
  .trades-dtls__comment {
    position: relative;
    border-bottom: 1px solid rgba(63, 60, 62, 0.05);
    padding: 12px 0; }
    .trades-dtls__comment-text {
      width: 100%;
      overflow-wrap: break-word; }
  .trades-dtls__response .form-control {
    width: 50%;
    margin-right: 10px; }
  .trades-dtls__response button {
    border-radius: 5px; }
  .trades-dtls__comment-author {
    margin-right: 6px;
    color: #354052;
    font-size: 14px;
    font-weight: 500; }
  .trades-dtls__comment-time {
    color: #7f8fa4;
    font-size: 14px; }
    @media (max-width: 400px) {
      .trades-dtls__comment-time {
        display: block; } }
  .trades-dtls__reply-button {
    position: absolute;
    right: 20px;
    top: 15px;
    color: #0c8ae4;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    -o-transition: all 0.15s;
    transition: all 0.15s; }
    @media (max-width: 1199px) {
      .trades-dtls__reply-button {
        top: 5px; } }
    @media (max-width: 450px) {
      .trades-dtls__reply-button {
        right: 5px; } }
    @media (max-width: 360px) {
      .trades-dtls__reply-button {
        right: -10px; } }
    .trades-dtls__reply-button:hover {
      opacity: 0.85; }
  .trades-dtls__comment--auto {
    background: #ffffff;
    padding: 10px 27px;
    margin: 0 -27px; }
    .trades-dtls__comment--auto > .trades-dtls__reply-button {
      right: 47px; }
  .trades-dtls__comment-text {
    font-size: 14px;
    color: #354052;
    margin-bottom: 0; }
  .trades-dtls__reply {
    position: relative;
    margin-top: 0.5rem;
    padding-left: 2rem; }
    @media (max-width: 575px) {
      .trades-dtls__reply {
        padding-left: 0.5rem;
        border-left: 2px solid #0c8ae4; } }
    .trades-dtls__reply .request-dtls__reply-button {
      top: 0; }
  .trades-dtls__back {
    position: relative;
    padding-left: 35px;
    color: #0c8ae4;
    font-weight: 500;
    font-size: 18px;
    transition: color .25s;
    cursor: pointer; }
    .trades-dtls__back:hover {
      color: #179af8; }
      .trades-dtls__back:hover::before {
        color: #179af8; }
    .trades-dtls__back:before {
      content: "";
      transition: color .25s;
      position: absolute;
      left: 18px;
      top: 7px;
      width: 12px;
      height: 12px;
      border-top: 3px solid #0c8ae4;
      border-left: 3px solid #0c8ae4;
      transform: rotate(-45deg); }
  .trades-dtls__edit {
    padding-right: 15px;
    font-size: 18px;
    font-weight: 500;
    color: #0c8ae4; }
    .trades-dtls__edit:hover {
      cursor: pointer; }
  .trades-dtls__error-message {
    color: #d53354;
    margin: 1rem 0; }
