.counter-request .modal__heading {
  margin-bottom: 1.5rem; }

.counter-request .counter-form {
  margin-bottom: 2rem; }
  .counter-request .counter-form__item .form-input {
    display: flex;
    justify-content: center; }
  .counter-request .counter-form__item label {
    margin-bottom: 0;
    margin-right: 1rem; }

.counter-request .bottom-block {
  display: flex;
  justify-content: center;
  align-items: center; }
  .counter-request .bottom-block button[type=submit] {
    margin: 0 10px 0 0; }
  .counter-request .bottom-block .cancel {
    color: #0c8be6;
    font-size: 14px;
    text-decoration: underline;
    text-decoration-color: rgba(12, 139, 230, 0.25);
    font-weight: 500;
    cursor: pointer; }

.counter__table {
  position: relative;
  width: 100%;
  background-color: #fcfcfc;
  margin-bottom: 1rem; }
  @media (max-width: 991px) {
    .counter__table {
      overflow: auto; } }

.counter__row {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 3.2rem;
  width: 100%;
  min-width: min-content;
  padding-right: 2.5rem;
  font-size: 0.875rem;
  cursor: pointer; }
  @media (max-width: 1380px) {
    .counter__row {
      padding-right: 1rem; } }
  @media (max-width: 575px) {
    .counter__row {
      padding-right: 1.5rem; } }
  @media (max-width: 400px) {
    .counter__row {
      padding-right: 0.5rem; } }
  .counter__row:not(.counter__row_heading) {
    border-top: 1px solid #dfe2e5; }
  .counter__row--own {
    background-color: #00ff301c;
    border-color: #c3e6cb; }
  .counter__row:hover {
    background-color: #e9eaec; }
    .counter__row:hover .counter__more-circle {
      opacity: 1; }
    .counter__row:hover .counter__overflow {
      position: absolute;
      z-index: 15;
      display: block;
      word-wrap: break-word;
      padding: 10px;
      width: 100%;
      max-height: none;
      background-color: #e9eaec;
      white-space: normal;
      overflow: visible;
      text-overflow: unset;
      transform: translateX(-10px); }
  .counter__row div {
    color: #354052;
    font-weight: 600; }
    .counter__row div:not(.counter__cell_heading) {
      font-weight: 400; }
  .counter__row div:nth-of-type(1) {
    width: 5rem; }
  .counter__row div:nth-of-type(2) {
    width: 5rem; }
  .counter__row div:nth-of-type(3) {
    width: 4rem; }
  .counter__row div:nth-of-type(4) {
    width: 5rem; }
  .counter__row div:nth-of-type(5) {
    width: 3.5rem; }
  .counter__row div:nth-of-type(6) {
    width: 5rem; }
  .counter__row div:nth-of-type(7) {
    width: 4rem; }
  .counter__row div:nth-of-type(8) {
    width: 6rem; }
  .counter__row div:nth-of-type(9) {
    width: 6rem; }
  .counter__row div:nth-of-type(10) {
    width: 15rem; }
  .counter__row_heading {
    display: flex;
    font-size: 0.875rem;
    line-height: 1rem;
    color: #7f8fa4;
    cursor: auto; }
    .counter__row_heading:hover {
      background-color: #fcfcfc; }

.counter__cell {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
  padding-left: 0.8rem;
  padding-right: 0.25rem;
  font-weight: 500;
  line-height: 0.925rem; }
  @media (max-width: 1060px) {
    .counter__cell {
      padding-left: 0.25rem; } }
  .counter__cell_heading {
    position: relative; }
  .counter__cell button {
    transition: background 0.25s, box-shadow 0.25s;
    border-radius: 2px;
    text-transform: capitalize;
    box-shadow: 1.805px 2.396px 3px rgba(0, 0, 0, 0.15);
    border: none;
    color: #fff;
    font-size: 0.875rem;
    font-weight: 500;
    height: 1.7rem;
    padding-bottom: 0; }
    .counter__cell button:not(:first-of-type) {
      margin-left: 5px; }
    .counter__cell button.accept {
      background-color: #0065ab; }
    .counter__cell button.decline {
      background-color: #99A5B6; }
    .counter__cell button.counter {
      border: 2px solid #3A73EC;
      background-color: #FFF;
      color: #3A73EC; }

.counter__hwrapper {
  display: block; }

.counter__arrows {
  position: relative;
  width: 22px !important;
  height: 20px;
  cursor: pointer; }
  .counter__arrows__top {
    position: absolute;
    display: inline-block;
    width: 2px !important;
    top: calc(50% - 10px);
    left: 0px;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    -webkit-transition: border-top 0.2s;
    -moz-transition: border-top 0.2s;
    -o-transition: border-top 0.2s;
    transition: border-top 0.2s;
    border-top: 8px solid #8492b4;
    transform: translate(8px, -10px) rotate(-180deg); }
    .counter__arrows__top:hover {
      border-top: 8px solid #289ef5; }
    .counter__arrows__top--selected {
      border-top: 8px solid #289ef5; }
  .counter__arrows__bot {
    position: absolute;
    display: inline-block;
    width: 2px !important;
    top: calc(50% - 10px);
    left: 0px;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    -webkit-transition: border-top 0.2s;
    -moz-transition: border-top 0.2s;
    -o-transition: border-top 0.2s;
    transition: border-top 0.2s;
    border-top: 8px solid #8492b4;
    transform: translate(8px, 12px) rotate(0deg); }
    .counter__arrows__bot:hover {
      border-top: 8px solid #289ef5; }
    .counter__arrows__bot--selected {
      border-top: 8px solid #289ef5; }

.counter__more {
  position: relative;
  display: block;
  height: 0;
  width: 0; }

.counter__more-circle {
  position: absolute;
  top: 0.5625rem;
  right: 1.25rem;
  height: 2rem;
  width: 2rem;
  opacity: 0.3;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s; }
  .counter__more-circle svg {
    width: 100%;
    height: 100%; }
  @media (max-width: 1380px) {
    .counter__more-circle {
      right: 0rem; } }
  @media (max-width: 400px) {
    .counter__more-circle {
      right: 0.5rem; } }

.counter__pag {
  display: flex;
  overflow: hidden;
  margin: 0.5rem auto 0;
  width: 13.5rem;
  height: 2.25rem;
  border: 1px solid #e6eaee;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.counter__pag-block {
  position: relative;
  width: 2.25rem;
  height: calc(2.25rem - 2px);
  background-color: #fff;
  border-right: 1px solid #e6eaee;
  font-size: 0.875rem;
  text-align: center;
  line-height: calc(2.25rem - 2px);
  color: #adb0b5; }
  .counter__pag-block_prev:before {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-top: 0.4rem solid transparent;
    border-bottom: 0.4rem solid transparent;
    border-right: 0.4rem solid #ced0da;
    transform: translate(-50%, -50%);
    -webkit-transition: border-right 0.2s;
    -moz-transition: border-right 0.2s;
    -o-transition: border-right 0.2s;
    transition: border-right 0.2s;
    cursor: pointer; }
  .counter__pag-block_next:before {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-top: 0.4rem solid transparent;
    border-bottom: 0.4rem solid transparent;
    border-right: 0.4rem solid #ced0da;
    transform: translate(-50%, -50%) rotate(180deg);
    -webkit-transition: border-right 0.2s;
    -moz-transition: border-right 0.2s;
    -o-transition: border-right 0.2s;
    transition: border-right 0.2s;
    cursor: pointer; }
  .counter__pag-block_current {
    color: #354052; }
  .counter__pag-block_inactive:before, .counter__pag-block:hover:before {
    border-right: 0.4rem solid #354052; }

.counter__overflow {
  width: 100%;
  max-height: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
