.login {
  position: relative;
  max-width: 382px;
  width: calc(100% - 30px);
  padding: 0 40px 20px;
  background: white;
  -webkit-box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, 0.3);
  @media (min-width: 442px) {
    width: 382px;
  }
  &-logo {
    padding: 35px 0 30px;
    text-align: center;
  }
  &-wrapper {
    width: 100%;
    margin: 0 auto;
  }
  &-text {
    padding-bottom: 20px;
    color: #354052;
    font-size: 14px;
    letter-spacing: -0.35px;
    margin: 0;
  }
  &-input-wrapper {
    position: relative;
    margin-bottom: 16px;
  }
  &-input-icon {
    position: absolute;
    display: block;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color: #868c97;
  }
  &-forgot {
    font-size: 14px;
    color: #0065ab;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
  .btn {
    display: block;
    transition: background 0.25s, box-shadow 0.25s;
    border-radius: 2px;
    margin: 20px auto;
    height: 45px;
    padding-left: 35px;
    padding-right: 35px;
    text-transform: none;
    box-shadow: 1.805px 2.396px 3px rgba(0, 0, 0, 0.15);
    background: #fff;
    border: 1px solid #0086e4;
    color: #fff;
    font-size: 1rem;
    &--blue {
      background-color: #0065ab;
      &:hover {
        background: #187abe;
      }
      &:focus {
        box-shadow: 1.805px 2.396px 3px rgba(0, 0, 0, 0.15);
      }
      &:active {
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.15);
      }
    }
    span {
      font-weight: 500;
    }
  }
}

.errors {
  padding-bottom: 10px;
  li {
    list-style: none;
    color: red;
  }
}
