// Variables
$secondary: #30343d;
$secondary-1: #393c49;
$secondary-2: #474c5a;

$primary: #0499cb;
$primary-1: #059ccb;
$primary-2: #33c5c7;
$primary-3: #797372;
$primary-4: #fdf7f3;

$link: #0c8ae4;
$link-hover: #179af8;

$ricex-blue: #0668ad;
$ricex-green: #75aa4c;

$danger: #d53354;