.netposition {
  .net-top {
    display: flex;
    margin-bottom: 40px;
    @media (min-width: 992px) and  (max-width: 1400px) {
      justify-content: space-between;
    }
    @media (max-width: 410px) {
      justify-content: space-between;
    }
  }

  .net-wrapper {
    display: flex;
    margin-right: 50px;
    @media (min-width: 992px) and  (max-width: 1400px) {
      margin-right: 0;
    }

    @media (min-width: 992px) and (max-width: 1260px) {
      flex-direction: column;
    }
    @media (max-width: 360px) {
      flex-direction: column;
    }
    @media (max-width: 410px) {
      margin-right: 0;
    }
  }

  .net-left {
    margin-right: 20px;
    font-size: 40px;
    font-weight: 400;
    color: #354052;
  }

  .net-right {
    padding-top: 12px;
  }

  .dynamics {
    position: relative;
    font-size: 14px;
    color: #7f8fa4;
    &:before {
      content: '';
      position: absolute;
      width: 1px;
      height: 12px;
      left: 2px;
      top: 2px;
    }
    &.positive {
      padding-left: 10px;
      &:before {
        background-color: #68d7b5;
      }
      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 2px;
        width: 5px;
        height: 5px;
        border-top: 1px solid #68d7b5;
        border-right: 1px solid #68d7b5;
        transform: rotate(-45deg)
      }
    }

    &.negative {
      padding-left: 10px;
      &:before {
        background-color: #eb6881;
      }
      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 10px;
        width: 5px;
        height: 5px;
        border-bottom: 1px solid #eb6881;
        border-left: 1px solid #eb6881;
        transform: rotate(-45deg)
      }
    }

  }

  .hint {
    margin-top: -4px;
    font-size: 14px;
    color: #7f8fa4;
  }

  .net-view {
    position: relative;
    margin-top: 10px;
    padding-right: 15px;
    color: #2c3e50;
    font-weight: 500;
    cursor: pointer;
    &:before {
      content: "";
      position: absolute;
      right: 0;
      top: 8px;
      width: 10px;
      height: 10px;
      border-top: 2px solid #0c8ae4;
      border-right: 2px solid #0c8ae4;
      transform: rotate(45deg);
    }
  }

  .net-chart-wrapper {
    display: flex;
    margin-bottom: 30px;
    @media (min-width: 992px) and (max-width: 1200px) {
      flex-direction: column;
    }
  }

  .net-stats {
    width: 220px;
  }

  .net-sell {
    position: relative;
    padding-left: 31px;
    &:before {
      content: '';
      position: absolute;
      top: 5px;
      left: 0;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background-color: #ff6b83;
    }
  }

  .net-buy {
    position: relative;
    padding-left: 31px;
    &:before {
      content: '';
      position: absolute;
      top: 5px;
      left: 0;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background-color: #1292ec;
    }
  }

  .net-chart {
    width: 120px;
    height: 120px;
    @media (min-width: 992px) and (max-width: 1200px) {
      margin: 20px auto 0;
    }
  }
}